<div class="mainContainer">

  <aside class="sidebar">

    <header>
      <h3>Chats</h3>
      <div>
        <i id="new-message-btn" class="bi bi-chat-right-text pointer" style="font-size: 24px;"></i>
        <i class="bi bi-three-dots-vertical pointer" style="font-size: 24px;"></i>
      </div>
    </header>

    <div class="filters">
      <div class="search-conversations">
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Search" />
        <i class="bi bi-search search-icon"></i>
      </div>
      <div class="toggles-container">

        <input type="radio" class="btn-check" name="options" id="opt-all" autocomplete="off" checked />
        <label class="btn custom-toggle" for="opt-all">All</label>

        <input type="radio" class="btn-check" name="options" id="opt-unread" autocomplete="off" />
        <label class="btn custom-toggle" for="opt-unread">Unread</label>

        <input type="radio" class="btn-check" name="options" id="opt-favorites" autocomplete="off" />
        <label class="btn custom-toggle" for="opt-favorites">Favorites</label>

        <input type="radio" class="btn-check" name="options" id="opt-groups" autocomplete="off" />
        <label class="btn custom-toggle" for="opt-groups">Groups</label>
      </div>
    </div>

    <div class="conversations list-group list-group-flush"></div>
    <section id="contacts" class="hidden">
      <header>
        <i class="bi bi-arrow-left pointer" id="close-contacts" style="font-size: 30px;"></i>
        <h5>Nuevo chat</h5>
      </header>
      <div id="contacts-list" class="list-group list-group-flush"></div>
    </section>

  </aside>

  <section class="conversation">
    <header></header>
    <section class="messages"></section>
    <footer class="conversation-footer hidden">
      <i class="bi bi-plus pointer" style="font-size: 45px;"></i>
      <div class="message-input">
        <button type="button" class="btn input-emoji pointer">
          <i class="bi bi-emoji-smile" style="font-size: 24px;"></i>
        </button>
        <textarea name="newMessage" id="newMessage" class="form-control form-control-lg" type="text" placeholder="Write a message" aria-label=".form-control-lg example" rows="1"></textarea>
      </div>
      <i class="bi bi-mic-fill pointer" style="font-size: 30px;"></i>
    </footer>
  </section>

</div>
<script src="/socket.io/socket.io.js"></script>
<script type="module" src="/ts/home.js"></script>