<div class="container">
  <h1 class="brand">WonderChat</h1>
  <div>
    <form class="authForm">
      <h2>LOG IN</h2>
      <p>Please enter your credentials here:</p>
      <input name="full_name" type="text" class="form-control" placeholder="Full Name" />
      <input name="password" type="password" class="form-control" placeholder="Password" />
      <div class="btn-container">
        <button type="submit" class="btn btn-primary">Log In</button>
      </div>
      <p>If you don´t have an account please go to <a href="/register">Register</a></p>
    </form>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="module" src="/ts/auth.js"></script>