.mainContainer {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  padding-block: 50px;
  padding-inline: 200px;
}

.sidebar {
  background-color: var(--white);
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}
.conversation {
  background-color: var(--main-gray);
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
}

.sidebar header {
  display: flex;
  align-items: center;
  height: 60px;
}

.sidebar header h3 {
  flex-grow: 1;
}

.sidebar #contacts {
  position: absolute;
  background-color: var(--white);
  width: 100%;
  height: 100%;
  animation: contacts-slideIn 0.3s ease-in-out;
  margin: -20px;
  padding: 20px;
}

.sidebar #contacts.hidden {
  display: none;
}

.sidebar #contacts.close {
  animation: contacts-slideOut 0.3s ease-in-out;
}
.sidebar #contacts.block {
  display: block;
}
@keyframes contacts-slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes contacts-slideOut {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}

.sidebar #contacts header {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  padding-inline: 10px;
  font-size: x-small;
  color: var(--light-dark);
}
.sidebar #contacts header h5 {
  margin: 0;
}
#contacts-list {
  height: calc(100% - 60px);
  overflow-y: auto;
  scrollbar-width: thin;
}

.search-conversations {
  height: 30px;
  width: 100%;
  position: relative;
}

.search-conversations input {
  background-color: var(--main-gray);
  width: 100%;
  height: 100%;
  border: none;
  padding-inline: 35px;
  border-radius: 20px;
}

.search-conversations input:focus {
  background-color: var(--white);
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 25%;
}

.toggles-container input {
  background-color: var(--main-gray);
}

.custom-toggle {
  background-color: var(--main-gray);
  border-color: var(--main-gray);
  color: var(--main-black);
  border-radius: 20px;
  transition: background-color 0.2s ease, color 0.2s ease;
}

input[type="radio"].btn-check:checked + .custom-toggle {
  background-color: var(--main-blue);
  color: var(--white);
}

.list-item {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 10px;
}

.list-item > div {
  flex-grow: 1;
  padding-block: 5px;
  height: 50px;
  white-space: nowrap;
  overflow: hidden;
}

.list-item .conversation-date {
  color: var(--dark-gray);
  font-size: 11px;
  padding-top: 5px;
  font-weight: 400;
  display: flex;
  align-items: center;
}

p {
  margin: 0;
}

.list-item .conversation-first-line {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.conversation header {
  display: flex;
  align-items: center;
  color: var(--white);
  height: 80px;
  padding: 20px;
}

.conversation header.hasMessages {
  background-color: var(--main-blue);
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.conversation header .list-item {
  flex-grow: 1;
}

.conversation footer {
  align-items: center;
  gap: 10px;
  padding-inline: 20px;
  padding-block: 10px;
  color: var(--white);
  background-color: var(--main-blue);
}
.conversation footer.hidden {
  display: none;
}
.conversation footer.visible {
  display: flex;
}

.conversation .messages {
  flex-grow: 1;
  padding-inline: 40px;
  padding-block: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--main-gray);
  gap: 5px;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
}

.conversation .message-heading {
  background-color: var(--white);
  border-radius: 10px;
  padding: 8px;
  font-size: 13px;
  font-weight: 400;
  color: var(--dark-gray);
  align-self: center;
}

.conversation .messages .message {
  background-color: var(--white);
  color: var(--main-black);
  border-radius: 15px;
  padding: 8px;
  max-width: 45%;
  display: flex;
  margin: 0;
  text-wrap: wrap;
  gap: 8px;
}

.conversation .messages .message p {
  word-break: break-all;
  font-weight: 400;
  display: flex;
  flex-wrap: wrap;
}

.conversation .messages .message.sent {
  background-color: var(--main-blue);
  color: var(--white);
  align-self: flex-end;
}
.conversation .messages .message.sent .msg-check {
  align-self: flex-end;
  font-size: 15px;
}
.msg-check.msg-read {
  color: var(--cyan);
}

.conversation .messages .message.sent::selection {
  background-color: var(--white);
  color: var(--main-black);
}

.conversation .messages .message .message-time {
  font-weight: 400;
  font-size: 10px;
  align-self: flex-end;
  height: 100%;
  display: flex;
  align-items: flex-end;
  gap: 2px;
}

.conversation .message-input {
  position: relative;
  width: 100%;
}

.conversation .message-input .input-emoji {
  position: absolute;
  height: 100%;
  color: var(--dark-gray);
  transition: color 0.2s ease;
}
.conversation .message-input .input-emoji:active {
  border: none;
}

.conversation .message-input .input-emoji:hover {
  color: var(--main-black);
}

.conversation .message-input textarea {
  padding-left: 50px;
}

.conversation .message-input #emoji-picker.hidden {
  display: none;
}

.conversation .message-input #emoji-picker.scaleOut {
  transform: scaleY(0);
  animation: emoji-picker-scaleOut 0.2s ease-out;
}

.conversation .message-input #emoji-picker {
  position: absolute;
  top: -150px;
  left: -60px;
  font-size: 20px;
  width: 300px;
  background-color: var(--white);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 30px);
  gap: 5px;
  justify-content: center;
  border-radius: 15px;
  box-shadow: 2px 3px 10px var(--dark-gray);
  transform-origin: bottom center;
  transform: scaleY(1);
  animation: emoji-picker-scaleIn 0.2s ease-out;
}

@keyframes emoji-picker-scaleIn {
  from {
    transform: scaleY(0);
  }
}
@keyframes emoji-picker-scaleOut {
  from {
    transform: scaleY(1);
  }
  to {
    transform: scaleY(0);
  }
}

.pointer {
  cursor: pointer;
}

.contact {
  cursor: pointer;
  padding-block: 14px;
}
.contact:hover {
  background-color: var(--main-gray);
}

.conversation-name {
  font-weight: 400;
  font-size: larger;
  margin: 0;
}

.conversations {
  overflow-y: auto;
  scrollbar-width: thin;
}

.conversations .contact .last-message {
  font-size: 14px;
  color: var(--dark-gray);
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
}

.conversations .contact .last-message span {
  align-self: center;
  margin-right: 3px;
}

.conversations .contact .last-message .msg-check {
  font-size: 16px;
}
